.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .socials {
    display: flex;
    justify-content: center;
    gap:50px;
  }
  
  .socicon {
    width:50px; /* Adjust the size as needed */
    height:50px;
    border-radius: 20px;
  }
  
  .copy {
    margin-top:10px;
    text-align: center;
  }
  
  .copy a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .copy a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styling */
  @media (max-width: 600px) {
    .socials {
      flex-direction: row;
      flex-direction: wrap;
      align-items: center;
    
    }
    .socicon{
      margin-top:50px;
      gap: 40px;

    }
  }
  